@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');

:root {
  --primary:#4267B2 !important;
  --primary-Two:#666666 !   important;
  --primary-Three:#2e3135 !important;
  --text-color:#b6b6b6;
  --Dark: #444;
  --Black: black;
  --light-color: white;
  --H-light-color: #cfd8dc;
  --font-one:'Poppins', sans-serif;;
  --font-Two: ;
    --swiper-navigation-size: 30px;

}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: var(--text-color);
    width: 100%;
    background-color: var(--primary-Three);
    font-family: var(--font-one);
}

a {
    text-decoration: none;
    outline: none;
}

button{
  outline: 0px;
  text-decoration: none;
  
}
ul , li{
    list-style-type: none;
}

::selection{
  background-color: var(--primary); 
  color: white; 
/* display: none; */
}

.container{
  width: 73%;
  margin: auto;
  position: relative;
  /* background-color: crimson; */
}



/* S code */

/* title page */

.title-page{
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
  margin: 45px auto 30px auto;
}
@media screen and (max-width:667px){
  .title-page{
    margin: 100px auto 30px auto !important;
    font-size: 35px;

  }
}

.color-span{
  color: var(--primary);
}


/* title page */


/* Aside nav */
.aside-nav{
  position: fixed;
  top: 50%;
  right: -1.5%;
  transform: translate(-50%,-50%);
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.aside-nav > .D-icon-aside {
  width: 60px;
  margin-bottom: 10px;
  height:60px;
  background-color: #26282b;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  overflow: hidden;
  color: white;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}
.aside-nav > .D-icon-aside:hover{
  background-color: var(--primary);
}
.aside-nav > .D-icon-aside > a{
  color: white;
  padding: 50px;
}
.aside-nav > .D-icon-aside > .active-aside{
  background-color: var(--primary);
}


@media screen and (max-width:667px){
  .aside-nav{
    display: none;
  }
}
@media screen and (min-width:667px) and (max-width:1023px){
 .aside-nav{
  position: fixed;
  top: 50%;
  right: -7%;
 } 
}

@media screen and (min-width:1024px) and (max-width:1470px){
   .aside-nav{
  position: fixed;
  top: 50%;
  right: -4%;
 } 
}


/* End Aside nav */

/* Nav */



.sidebar {
  position: fixed;
  overflow: hidden;
  left: -300px;
  top: 0px;
  z-index: 985623;
  width: 280px;
  box-shadow: 0px 0px 15px rgb(36, 36, 36);
  height: 100%;
  background-color: #26282b;
  /* background: var(--primary-Three); */
  transition: all .5s ease;
}
.sidebar header {
  font-size: 25px;
  color: white;
  line-height: 100px;
  border-bottom: 1px solid #535353;
  text-align: center;
  margin-bottom: 0px;
  background-color: #26282b;
  /* background: var(--primary-Three); */
  text-transform: uppercase;
  font-weight: 600;
  user-select: none;
}
.sidebar ul{
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.sidebar ul li{
  margin: 0px ;
  padding: 0px;
  border-bottom: 1px solid #535353;
}
.sidebar ul a{
  display: block;
  height: 100%;
  padding-left: 20px;
  width: 100%;
  line-height: 50px;
  font-size: 15px;
  color: white;
  box-sizing: border-box;
  transition: .4s;
}
.End-nav{
  text-align: center;
  font-size: 15px;
  bottom: 0px;
  left: 50%;
  width: 100%;
  position: absolute;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
ul li:hover a{
  color: var(--primary);
}
.sidebar ul a i{
  margin-right: 12px;
}
#check{
  display: none;
}
label #cancel{
  position: fixed;
  background: var(--primary-Three);
  z-index: 95624565;
  border-radius: 3px;
  cursor: pointer;
}

label #cancel{
  z-index: 1111;
  left: -250px;
  top: 10px;
  font-size: 20px;
  z-index: 9856123654;
  color: white;
  background-color: var(--primary);
  padding: 4px 9px;
  transition: all .5s ease;
}
label #cancel:hover{
  color: var(--primary);
}

.responsive-nav , #btn {
  width: 60px;
  height: 60px;
  background-color: var(--primary);
  position: fixed;
  top: 50px;
  left: 50px;
  font-size: 30px;
  z-index: 8956;
  color: white;
  padding: 12px 15px;
  border-radius: 50px;
  transition: all .5s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.responsive-nav:hover{
  background-color: var(--primary-Three);
}
.responsive-nav div{
  width: 27px;
  margin: 3px;
  height: 1.7px;
  background-color: white;
}


#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel{
  left: 240px;
  top: 20px;
  background-color: transparent;
}

#active-nav{
  color: var(--primary);
}

@media screen and (max-width:667px){


 .responsive-nav , #btn {
  width: 60px;
  height: 60px;
  background-color: var(--primary);
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;

}


}

@media screen and (min-width:667px) and (max-width:1023px){
  .responsive-nav , #btn {
  width: 60px;
  height: 60px;
  background-color: var(--primary);
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;

}
}



/* End Nav */


/* card blog */

.father-cards{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap row;
  width: 100%;
  /* height: 800px; */
}


.card-blog{
  border-radius: 5px;
  overflow: hidden;
  width: 31%;
  height: 450px;
  margin-bottom: 30px;
  background-color: #26282b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .3s ease;
  border: 1px solid rgb(61, 61, 61);
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}
.card-blog:hover{
  box-shadow: 0px 0px 10px rgb(71, 71, 71);
}

/* Img card */

.oavrly-img{
  overflow: hidden;
  width: 100%;
  height: 48%;
  background-color: hotpink;
}
.oavrly-img > a > img{
  width: 100%;
  height: 100%;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}
.oavrly-img > a > img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


/* End img card */

/* text card */

.d-text{
  height: 55%;
  width: 100%;
  border-top: 5px solid var(--primary);
  background-color: #26282b;
  padding: 18px 15px 15px 20px;
}
.d-text > a{
  font-weight: 500;
  color: white;
  font-size: 20px;
}
.d-hstory{
  margin: 0px 0px;
  width: 100%;
  display: flex;
}
.d-hstory > p{
  font-size: 13px;
  margin: 12px 10px 3px 0px;
  padding: 0px;
}
.d-hstory > p > i{
  color: var(--primary);
  margin-right: 8px;
}
.Dis-card{
  margin: 10px 0px;
  font-size: 14px;
  line-height: 27px;
  font-weight: 500;
}
.Go-Article{
  display: inline-block;
  margin-top: 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px !important;
  color: var(--primary) !important;
  letter-spacing: 1px;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}
.Go-Article:hover{
  color: white !important;
}
.Go-Article > i{
  margin-left: 5px;
}


@media screen and (max-width:667px){
  .card-blog{
    width: 100%;
  }
  .Dis-card{
    font-size: 11px;
    line-height: 20px;
  }
  .d-text > a{
    line-height: 28px;
  }
  .d-hstory  > p{
    font-size: 10px;
  }
}

@media screen and (min-width:667px) and (max-width:1023px){
  .card-blog{
    width: 49%;
  }
    .d-hstory  > p{
    font-size: 10px;
  }
    .Dis-card{
    font-size: 12px;
    line-height: 25px;
  }

}

@media screen and (min-width:1024px) and (max-width:1470px){
      .Dis-card{
    font-size: 12px;
    line-height: 20px;
  }
      .d-hstory  > p{
    font-size: 10px;
  }
}

/* End text card */






/* S code */

